*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container h1{
    font-size: 36px;
    color: blueviolet;
}

.container h2{
    font-size: 24px;
    color: rgb(175, 114, 233);
}

.container form{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

.container form input,
.container form button{
    margin-top: 8px;
}

.container form input,
.container form button{
    height: 30px;
}

.sucess-message{
    background-color: green;
    color: white;
    padding: 16px;
    margin-top: 8px;
    display: none;
}

.failure-message{
    background-color: red;
    color: white;
    padding: 16px;
    margin-top: 8px;
    display: none;
}
